<div class="item-inner">
  {{#if label}}
    <div class="item-title floating-label">{{label}}</div>
  {{/if}}
  <div class="item-input item-input-field">

    {{one-way-select
      value=selected
      options=options
      includeBlank=includeBlank
      required=required
      tabindex=tabindex
      disabled=disabled
      multiple=multiple
      optionValuePath=optionValuePath
      optionLabelPath=optionLabelPath
      optionTargetPath=optionTargetPath
      optionComponent=optionComponent
      groupLabelPath=groupLabelPath
      onblur=onblur
      update=onchange}}

  </div>

  {{yield}}
</div>
